body{
  background-color: #e6e6e6;
}
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #e6e6e6;
}
.navbar h1{
  font-size: 20px;
}
.chat{
  background-color: white;
  width: 80%;
  height:550px;
  margin: auto;
}
.chat-baner{
  display: flex;
  background-color: #fdfcfc;

}
.chat-baner-icon{
  margin: 10px;
}
.chat-baner-info{
  margin: 10px;
  font-size: 18px;
}
.chat-baner-info span{
  font-weight: bold;
}
.chat-baner-info-buttons button{
  border: 1px solid black;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  padding-right: 10px;
  padding-left: 10px;
}
.chat-asistent{
  width: 100%;
  display: flex;
  margin: 10px;
  align-items: center;
}
.chat-asistent span{
  width: 90%;
  padding: 5px;
  color: black;
  border-radius: 10px;
  text-overflow:scroll;
  margin-left: 10px;
  white-space:pre-line;
}
.chat-user{
  width: 100%;
  display: flex;
  margin: 10px;
  align-items: center;
  overflow-y: scroll;

}
.chat-user span{
  width: 90%;
  padding: 5px;
  border-radius: 10px;
  color: black;
  margin-left: 10px;
  font-size: 16px;
}
.chat-messages{
  height: 320px;
  overflow: scroll;
}
.chat-input{
  width: 100%;
  display: flex;
}
.chat-input input{
  width: 90%;
  height: 40px;
}
.chat-input button{
  width: 95px;
  height: 45px;
}
@media(max-width:600px){
  .chat{
    width: 100%;
  }
  .chat-messages{
    height: 450px;
    background-color: white;
  }
}