.title-page {
  display: flex;
  justify-content: center;
  color: rgb(40, 80, 67);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
}

.chat {
  width: 100%;
  height: 400px;
  display: flex;
}

.button-chat {
  width: 50%;
  display: flex;
  height: 400px;
  justify-content: end;
  align-items: end;


}

.button-chat button {
  border: 0px solid white;
  color: gray;
}

.chat-center {
  width: 50%;
  height: 100%;
}

.chat-window {
  width: 300px;
  height: 400px;
  border: 1px solid gray;
  margin-left: 50px;
}

.chat-icons {
  height: 20px;
  display: flex;
  justify-content: end;
  border: 1px solid gray;
}
.chat-icons button{
  border: 1px solid black;
  background-color: brown;
  color: aliceblue;
}

.chat-messages {
  height: 340px;
  width: 100%;
  overflow: scroll;
}
.chat-inputs{
  display: flex;
  height: 40px;
}
.chat-inputs input{
  width: 80%;
}
.chat-inputs button{
  width: 20%;
}

.nodisplay {
  display: none;
}
.chat-asistent{
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}
.chat-asistent span{
  width: 290px;
  background-color: rgb(40, 80, 67);
  padding: 5px;
  color: aliceblue;
  border-radius: 10px;
  overflow: auto;
  white-space:pre-line;
}
.chat-user{
  width: 100%;
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
}
.chat-user span{
  background-color: gainsboro;
  padding: 5px;
  border-radius: 10px;
  color: rgb(40, 80, 67);
}